.todo-in-progress {
    background: rgba(253, 242, 250, 1);
    height: 32px;
    padding: 4px 12px;
    width: fit-content;
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
    border-radius: 20px;
    color: rgba(238, 70, 188, 1);
    font-size: 12px;
}

.todo-in-progress-add-button {
    width: 270px;
    height: 32px;
    background-color: rgba(253, 242, 250, 1);
    border: none;
    border-radius: 8px;
    margin-top: 25px;
    display: inline-flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Nunito Sans";
    cursor: pointer;
}

.todo-in-progress-add-button>p {
    margin: 0;
    color: rgba(238, 70, 188, 1);
    font-size: 12px;
}

.task-card {
    width: 270px;
    height: 114px;
    padding: 16px;
    gap: 10px;
    border-radius: 8px;
    opacity: 0px;
    box-shadow: 0px 0px 8px 0px rgba(54, 89, 226, 0.16);
    cursor: pointer;

}

.task-card:hover {
    box-shadow: 0px 0px 15px 0px rgba(54, 89, 226, 0.16);
}

.task-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: black;
}

.task-dates-row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.text-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(119, 119, 119, 1);
    gap: 4px;
}

.task-date-light-pink {
    background-color: rgba(253, 242, 250, 1);
    color: rgba(238, 70, 188, 1);
    font-size: 12px;
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 8px;
    height: 24px;
    text-align: center;
    display: inline-flex;
    align-items: center;
}