<div class="taskboard">
    <img src="../../../assets/ghost-org.png" alt="Loading..">
    <h2>Task Board</h2>
</div>
<div class="list-container" *ngIf="!loading">
    <ul class="list-group">
        <li class="list-item" tabindex="0" *ngFor="let pro of project;">
            <div class="delete" (click)="store_title(pro)">
                <span>{{pro.title}}</span>
                <a (click)="delete(pro.pid)">🗑</a>
            </div>
        </li>
    </ul>
</div>
<div *ngIf = "loading">
    <img src="../../../assets/Loading.gif">
    <h1 style="display: flex; align-items: center; justify-content: center;">Loading..</h1>
</div>
<input 
    type="text"
    *ngIf="showinput"
    [(ngModel)]="inputvalue"
    (keydown.enter) = "saveinput()"
    placeholder="Enter Project Name"
    class="toggle-input-field"
/>
<div class="add-project" (click)="toggleinput()">
    +  Add new Project
</div>