.project-title{
    width: cal(100% - 240px)px;
    height: 60px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
}

.todo-types {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    height: 100%;
    gap: 20px;
    margin-top: 10px;
}

.col {
    display: inline-flex;
    flex-direction: column;
    border-right: 1px solid rgba(216, 224, 253, 1);
}