<div class="todo">• ToDo</div>
<div *ngFor="let td of todo" class="task-card"
    (click)="openDialog(td.status,'Edit Task','Save',td.taskName,td.startDate,td.deadlineDate,td.id)">
    <div class="task-name">
        {{ td?.taskName || 'No task name available' }}
    </div>
    <div class="task-dates-row">
        <div class="text-col">
            Start Date
            <br />
            <div class="task-date">
                {{td.startDate}}
            </div>
        </div>
        <div class="text-col">
            Deadline
            <br />
            <div class="task-date">
                {{td.deadlineDate}}
            </div>
        </div>
    </div>
</div>
<button class="todo-add-button" (click)="openDialog('ToDo','Add New Task')">
    <p>+</p>
    <p>Add New</p>
</button>