<div class="todo-completed">• Completed</div>
<div *ngFor="let td of completed" class="task-card"
    (click)="openDialog(td.status,'Edit Task','Save',td.taskName,td.startDate,td.deadlineDate,td.id)">
    <div class="task-name">
        {{ td?.taskName || 'No task name available' }}
    </div>
    <div class="task-dates-row">
        <div class="text-col">
            Start Date
            <br />
            <div class="task-date-light-green">
                {{td.startDate}}
            </div>
        </div>
        <div class="text-col">
            Deadline
            <br />
            <div class="task-date-light-green">
                {{td.deadlineDate}}
            </div>
        </div>
    </div>
</div>
<button class="todo-completed-add-button" (click)="open_dialog_or_not()">
    <p>+</p>
    <p>Add New</p>
</button>
